/* CSS Document */
.l{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
  
    max-width: 100%;
  
}



.logo{
  color:#FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
}

.logo:hover{
  color:#FFF;
  }

.color-div{
    width: 300px;
    height: auto;
    border-radius: 20px;
  background-image: linear-gradient(to bottom, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100)
);
    margin-top: 5%;
}

.br-40 {
  border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green ;
  height:34px;
    line-height:1.4em;

}

.Edit{
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top: -2%;
}

.date{
    color: gray;
}

.btn-custom {
  border: 1px solid white ;
  color: white;
    line-height: 1.03em;
    border-radius: 40px;
    
}

.btn-custom:hover {
  background-color: white;
  color:green;
}

.new{
    
}


.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid green;
  display: flex;
  flex-flow: column nowrap;
}
.nav-tabs--left {
  margin: 6px 15px;
}
.nav-tabs--left .nav-item + .nav-item {
  margin-top: .25rem;
}
.nav-tabs--left .nav-link {
    white-space: nowrap;
    color: #000;
    font-family:"source sans pro",sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
}
.nav-tabs--left .nav-link.active {
  border-color: green #fff green green;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
     color: green;
    font-family:"source sans pro",sans-serif;
    white-space: nowrap;
    font-size: 25px;
    font-weight: bold;
}
.nav-tabs--left .nav-link.active:hover {
  background-color: #fff;
  border-color: green #fff green green;
  color: green;
  font-family:"source sans pro",sans-serif;
    white-space: nowrap;
    font-size: 25px;
    font-weight: bold;
    
}



input{
    width: 150% !important;
    height: 90%;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border:1px solid green !important;
    color: #000;
}

select{
     width:140% !important;
    height: 95% !important;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border:1px solid green !important;
    
}



textarea{
     width: 150px !important;
    height: auto ;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border:1px solid green !important;
    
}
