/* CSS Document */

body{
       background-color:#f9f9f9;

}
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
     -webkit-appearance:none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    
}



button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


.logo{
    color: #fff !important;
    font-family: Segoe UI;
	font-size: 25px;
	font-weight: bold;
	
}

.logo:hover{
    color: #fff !important;
   
}


.search-icon {
  position: absolute;
  font-size: 18px !important;
  color:green !important;
  z-index: 100000 !important;
    float:right;
}

.nav-color{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
}


.form-control{
  
  border:1px solid #060;
    width:420px;
    height: 30px;
    color: black;
    font-family: Segoe UI;
	font-size: 15px;
	font-weight: bold;
  
}
.form-control:focus{
  border:1px solid #060;
}

.br-40 {
	border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	border-color:green ;
    line-height:1em;
}


.search{
    margin-top: 11px;
}

.fa {
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 21px ;
     color: #fff;  

  
}
.fa:hover {
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 21px !important;
    color: #fff;  
}

.home{
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 21px !important;
     color: #fff;  
    margin-top: 13px;
}

.ImgWhoFollow{
   width: 35px;
    height: 35px;
    border-radius: 50%;
}

.name{
    color: #fff !important;
    font-family: Segoe UI;
	font-size: 11px;
	font-weight: bold;
	
}


.name:hover{
    color: #fff !important;
   
}

/*edit post */

#results {
  position: absolute;
  top: 10px;
  left: 300px;
  border: 1px dashed purple;
  height: 135px;
  width: 500px;
	display: none;
	
}

textarea {
	width: 87%;
	height: auto;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
    color: #1d2129;
	font-weight: 300;
	 -moz-appearance:none;
    outline:0px none transparent;
	border: none;
}


.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
	 cursor: pointer !important;

}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    display: block;
	cursor: pointer !important;

}
.btn-upload .btn{
    background: #f9f9f9;
    border-radius: 18px;
    border: 1px solid #2e6da4;
    color: #4b4f56;
    border: 0;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer !important;

	
}
.btn-upload:hover .btn{
    background: #f9f9f9;
    color: #4b4f56;
    border: 0;
	cursor: pointer !important;

}

.post-icons{
	color: green;
}


.btn2{
  background-color: rgba(0, 0, 0, .2);
    border-radius: 18px;
    border: 1px solid #2e6da4;
    color: #4b4f56;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer !important;
	width: 20%;
	-moz-appearance:none;
    outline:none !important;
	border: none !important;

	
}
.btn3{
  background-color: rgba(0, 0, 0, .2);
    border-radius: 18px;
    border: 1px solid #2e6da4;
    color: #4b4f56;
    border: 0;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer !important;
	width:60%;
	  -moz-appearance:none;
    outline: none !important;
	border: none !important;


}











/*button {
  min-width: 100px;
	height: 33px;
	padding: 5px 10px;
	cursor: pointer;
	text-align: center;
	font-size: xx-small;
	background:#80a9da;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
	background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	display:inline-block;
	border:1px solid #5d81ab;
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}*/

.post-img2{
	border-radius: 40px;
	min-width: 70px;
     min-height:  70px;
      max-height:  70px; 
	align-self: center; 
	position: inherit;
	margin-top: 1%;
}




.headerrow{
background-color: rgba(0, 0, 0, .2);
	border-bottom: 1px solid gray;
    border-radius: 3px 3px 0 0;
    color: #4b4f56;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12p;
	width: 100%;
		cursor: pointer !important;

}

.headerrow2{
	background-color: #fff;
    border-radius: 3px 3px 0 0;
    color: #1d2129;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12p;
	width: 100%;
}

.headrrow3{
	background-color: #fff;
}