/* CSS Document */
.color-nav{
background-image: linear-gradient(to right, rgba(17,86,33,1), rgba(58,134,64,1) , rgba(68,147,72,1));	
    height: auto;
}


.logo{
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;

	}

.logo:hover{
	color:#FFF;
	}

.search{
	height:29px;
	text-align:center;

	
	}	

.br-40 {
	border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	border-color:green;
	height:30px;
	line-height: 30px;
}


.open-menu{
	border-width: 8px;
	border-style: line;
	border-color: gray;
	background-color: transparent;
	color: green;
	}


	.log-in {
	text-decoration: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight:bold;

}

.log-in:hover{
	color:#fff;
	font-weight:bold;

}


/* for place holder*/
::-webkit-input-placeholder {
font-size: 13px !important;
font-family: Arial, Helvetica, sans-serif !important;
text-align:center;
line-height:3em !important;

}

:-moz-placeholder {  
font-size: 13px !important;
font-family: Arial, Helvetica, sans-serif !important;
text-align:center;
line-height:3em !important;

}

/*--for IE10 support--*/
:-ms-input-placeholder {
font-size: 13px !important;
font-family: Arial, Helvetica, sans-serif !important;
text-align:center;
line-height:3em !important;

}

.reset{
    color: #000;
    font-weight: bold;
    font-family: 	font-family: Arial, Helvetica, sans-serif;
    opacity: .7;
}

.how{
     color: #000;
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif;
    opacity: .7;
    font-size: 11px;
    
}

.first-div{
       width: 449px;
    height: 449px;
    background: #f3f3f3;
    
}


.btn-custom{
    border-radius: 40px;
    width: 161px;
    height: 25px;
    line-height: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    border-width: 2px;
    
}

.send-via{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bold;
    color: #4e4e4e;
    
}



.check{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

input{
        width: 30px;
        height: 20px;
        border: 1px solid #707070;
      background: #ffffff;
    margin-top: -2%;
    color: brown;
   
}

.btn-cancel{
 
     border-radius: 40px;
    width: 25%;
    height: 25px;
    line-height: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    border-width: 2px;
    
}


.no-longer{
    font-family: Segoe UI;
    font-size: 13px;
    color: #4e4e4e;
}

.you-can{
     font-family: Segoe UI;
    font-size: 9px;
    font-weight: bold;
    color: #4e4e4e;
}

.sec-code{
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: bold;
    color: #4e4e4e;
   
    
}

.code{
    width: 450px;
    height: 180px;
    background: #f3f3f3;
}

.please-check{
    font-family: Segoe UI;
    font-size: 9px;
    font-weight: bold;
    text-align: left;
    color: #4e4e4e;
}
.enter-code{
    width: 40%;
   height:30px; 
line-height:30px; 
    color: black;
}

.Enter-Code{
    margin-top: -3%;
   
}

.get-code{
    font-family: Segoe UI;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #4e4e4e;
    
}

.New-password{
    font-family: Segoe UI;
    font-size: 11px;
    font-weight: bold;
    color: #1a9c1a;
    width: 40%;
}

.new{
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: bold;
    color: #1a9c1a;
}


[aria-required=true] {
  border: red thin solid;
} 
[aria-required=true]:before {
  content: url('/iconStar.gif');
}

[data-required=true]:after {
  content: url('/iconStar.gif');
}

