/* CSS Document */

.l{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
    height: 65px;
    max-width: 100%;
  
}


.logo{
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;
}

.logo:hover{
	color:#FFF;
	}

.first {
    margin-top: 2%;
}

.second{
    margin-top: 3%;
}

.third{
        margin-top: 3%;
}

.line{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.card {
    width:300px;
    height:290px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    margin-top:45%;
    transform:translateY(-50%);
    text-align:center;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
   margin-top: -1%;
    border-radius:50%;
    overflow:hidden;
    margin: 20px auto;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin-top:-14px ;
}

.card .box p {
    color:#262626;
  
}

.btn{
    border-radius: 40px;
    height: 30px !important;
    line-height: 1.03em;
}



h2{
    text-align: center;
    color: darkgreen;
    margin-top: 1%;
}

.btn-custom{
    border: 1px solid green;
	height:36px;
    width: 100%;
    
    
}

.btn-custom:hover {
	background-color: green;
	color: #fff !important;
}



@media screen and (width: 360px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 360px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 384px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 384px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 412px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 412px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (max-width: 320px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 320px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 480px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:480px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width:411px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 411px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 375px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 375px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 414px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 414px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 567px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:  567px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 559px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 559px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 551px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 551px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 543px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 543px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 400px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 400px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (max-width: 571px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 571px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

.card2 {
    width: 100%;
    height: auto;
}
.nav-tabs .nav-link.active  {
    color:darkgreen !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;
}



.nav-tabs .nav-link:hover{
   	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;
    color:#000 !important;
 
}

.nav-tabs .nav-link{
   	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;
    color:#000 !important;
 
}
.l{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
    height: 65px;
    max-width: 100%;
  
}


.logo{
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:23px;
}

.logo:hover{
	color:#FFF;
	}

.first {
    margin-top: 2%;
}

.second{
    margin-top: 3%;
}

.third{
        margin-top: 3%;
}

.line{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.card {
    width:300px;
    height:290px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    margin-top:45%;
    transform:translateY(-50%);
    text-align:center;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
   margin-top: -1%;
    border-radius:50%;
    overflow:hidden;
    margin: 20px auto;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin-top:-14px ;
}
.card .box p {
    color:#262626;
  
}
.btn{
    border-radius: 40px;
    height: 30px !important;
    line-height: 1.03em;
}
h2{
    text-align: center;
    color: darkgreen;
    margin-top: 1%;
}
.btn-custom1{
    border: 1px solid green;
	height:36px;
    width: 63%;
    float: right;
    
}

.btn-custom1:hover {
	background-color: green;
	color: #fff !important;
}

.btn-custom2 {
    border: 1px solid green;
	height:36px;
    width: 65%;
    float: left;
    
}

.btn-custom2:hover {
	background-color: green;
	color: #fff !important;
}

@media screen and (width: 360px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 360px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 384px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 384px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}
@media screen and (width: 412px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 412px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (max-width: 320px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 320px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 480px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:480px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width:411px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 411px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 375px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 375px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 414px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 414px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 567px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:  567px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 559px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 559px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 551px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 551px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 543px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 543px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 400px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 400px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}
@media screen and (max-width: 571px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 571px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

.accept{
    text-decoration: none !important;
    color: green !important;
    
    
}

.accept :hover{
    color: #fff !important;
    
}













