.Thanks{
    color:#000 !important;
    font-size: 3em;
    font-family: Segoe UI;
    font-weight: bold;
    
}
.scout{
    color:darkgreen !important;
    font-size: 1em;
    font-family: Segoe UI;
    font-weight: bold;

}

h1{
    color:darkgreen !important;
    font-size: 3em;
    font-family: Segoe UI;
    font-weight: bold;

}

h3{
    color:#000 !important;
    font-size: 1em;
    font-family: Segoe UI;
    font-weight: bold;
    text-align: center;

}

h2{
    color:darkgreen !important;
    font-size: 3em !important;
    font-family: Segoe UI;
    font-weight: bold;

}