/* CSS Document */

body{
       background-color:#f9f9f9;

}
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
     -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    
}



button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


.logo{
    color: #fff !important;
    font-family: Segoe UI;
  font-size: 25px;
  font-weight: bold;
  
}

.logo:hover{
    color: #fff !important;
   
}


.search-icon {
  position: absolute;
  font-size: 18px !important;
  color:green !important;
  z-index: 100000 !important;
    float:right;
}

.nav-color{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
}


.form-control{
  
  border:1px solid #060;
    width:420px;
    height: 30px;
    color: black;
    font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
  
}
.form-control:focus{
  border:1px solid #060;
}

.br-40 {
  border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green ;
    line-height:1em;
}




.noti_message{
    color: green;
    font-weight: bold;
    font-size: 12px;
}
 
.bb{
    margin-top: -15%;
}
.search{
    margin-top: 11px;
}

.name{
    color: #fff !important;
    font-family: Segoe UI;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  
}


.name:hover{
    color: #fff !important;
   
}

.fa {
    font-size: 16px ;
     color: #fff;  

  
}
.fa:hover {
    font-size: 16px !important;
    color: #fff;  
}

.home{
    font-size: 16px !important;
     color: #fff;  
    margin-top:16px;
}

#Achievements1{
    word-spacing: 2px;
    white-space:normal;
    width: 100%;
    color: #000;
    text-align: center;
    
}


.mm{
    margin-top: -8%;
}
.dropdown-menu{
    width: 900px !important;
    height: 350px;
     overflow-y: scroll;
}


.popover{
    position: absolute;
   margin-top: 39px;
}


.dropdown-item{
    margin-bottom:1%;
}





#button2{
    text-align: center;
    text-decoration: none !important;
    color: #000;
     font-family: Segoe UI;
  font-size: 11px;
  font-weight: bold;
}
#button2:hover{
    text-decoration: none !important;
    color: #000;
}

h6{
    text-align: center;
    text-decoration: none !important;
    color: #000;
     font-family: Segoe UI;
  font-size:16px;
  font-weight: bold;
}
h6:hover{
    text-decoration: none !important;
    color: #000;
}


.request{
    text-decoration: none !important;
    color: #000;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: right !important;

}
.request:hover{
    text-decoration: none !important;
    color: #000;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.request1{
    text-decoration: none !important;
    color: #000;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
}
.EaRLIER{
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 8px 16px ;
    height: 30px;
   text-align: left !important;

}



.first{
    height: 30px !important;
}

.Accept{
    background-color: #f9f9f9 !important;
    border: none !important;
}

.fa-check-circle {
    font-size: 20px;
    color: darkgreen;
}

.fa-times-circle{
     font-size: 20px;
    color: darkgreen;
}

span {
   color: green;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}


ul {
  list-style-type: none;
}

.alert_li{
    margin-top: -9px;
    padding-top:-5px  !important;
}

.count{
    color: #fff;
        margin-top: 10%; !important;

}

.time_alert{
    float:right;
    margin-bottom :1px;
    color: black;
        background-color: none !important ;
    text-decoration: none !important ;

}


.time_alert:hover{
    color: black;
     background-color: none !important ;
    text-decoration: none !important ;

}



li.alert_li {
  font-size: 11px; 
  color:grey;
  border-bottom: thin solid #c0c0c0;
}
li.alert_li:hover{
    background-color:#eee;
}

.time_alert : hover {
    color: black;
}
a.alert_message{
    color : inherit;
    background-color: none !important ;
    text-decoration: none !important ;
}

 .EaRLIER2{
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 8px 16px ;
    height: 30px;
   text-align: left !important;
    margin-top: -5%;
      font-family: Helvetica, Arial, sans-serif;
     font-size: 13px;
     font-weight: bold;


}

.notifications{
    text-decoration: none !important;
    color: #000;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;

}
.notifications:hover{
    text-decoration: none !important;
}

button span , button{
    color: white;
    font-size:12px;
}

.noti-footer {
  cursor: pointer;
  text-align: center;
     font-family: Helvetica, Arial, sans-serif;
    color: green;
    font-weight: bold;
}

#table-div{
   background-color:#fff;
   height: auto !important;
     color: green;

    
}

table{
     table-layout: fixed;
    width: 95%;
}

 th{ 
     width:100%; 

}

td{
     
    width:100%; 
    

}

.tabs-all{
margin-top: -2%;
}

.player-name{
    white-space: nowrap;
  color: #000;
    font-weight: bold;
    font-size: 20px;
}

.fa-edit{
     font-weight: bold;
    font-size: 28px;
    color: #000;

    

}

.img-profile{
  height:350px !important;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dddfe2;
    display: block; 
  min-width: 100%;
     min-height:  100%;
      max-height:  100%; 
  align-self: center; 
}

.btn-custom {
  border: 2px solid green !important;
  background-color: rgba(255,255,255,.7);
  height:34px;
  color: green;
    width: 103px;
    line-height: 17px;
    border-radius: 40px;
   -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-family:Arial Black", Gadget, sans-serif; 

    
}

.btn-custom:hover {
  background-color: green;
  color: #fff;
}

a{
      text-decoration:none !important;

  
}

li p{
        color: #000;
}

ul .msg{
        color:green !important;
    font-weight: bold;
    font-size: 13px;
}

ul .msg:hover{
color:green !important;
}

.EaRLIER p{
    color:green !important;
    font-weight: bold;
    font-size: 13px;
    
}
 a:visited h4{
    color: #000 !important;
}
 a:hover h4{
    color: green !important;
}
 a:focus h4{
    color:green !important;
}
a:active h4{
    color: green !important;
}

#tt{
    height: auto;
text-align: center;
    margin-top: 2%;
}

.card2 {
    width: 100%;
    height: 600px;
}
.nav-tabs .nav-link.active  {
    color:darkgreen !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
}

.nav-tabs .nav-link:hover{
    font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
    color:#000 !important;
 
}

.nav-tabs .nav-link{
    font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
    color:#000 !important;
 
}

.line{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.card {
    width:300px;
    height:350px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    margin-top:59%;
    transform:translateY(-50%);
    text-align:center;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
   margin-top: -3%;
    border-radius:50%;
    overflow:hidden;
    margin: 20px auto;
}
.card .box .img img {
    width:95%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin-top:14px ;
}
.card .box p {
    color:#262626;
    font-size: 20px;
  
}
.btn{
    border-radius: 40px;
    height: 30px !important;
    line-height: 1.03em;
}

.num-count {
    position: absolute;
    cursor: pointer;
    font-size: 1.2rem;
    color:darkred;
}

.btn-follow {
    border-radius: 40px;
   -webkit-appearance:none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   font-family:Roboto,sans-serif; 
  border:hidden !important;
  color: #fff;
  font-weight: bold;
  background-color: green;
  font-size: 16px;
  width: auto;
  height: 25px !important;
  line-height:11px !important; 


}
.btn-follow:hover {
    border-radius: 40px;
   -webkit-appearance:none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   font-family:Arial Black", Gadget, sans-serif;  
  border:hidden !important;
   background-color: inherit;
  color:green;
}



#myTabJust{
    background-color:gray;
}



.btn-custom1{
    border: 1px solid green;
  height:36px;
    width: 100%;
    
    
}

.btn-custom1:hover {
  background-color: green;
  color: #fff !important;
}





btn-custom2{
    border: 1px solid green;
  height:36px;
    width: 50%;
}

.btn-custom2:hover {
  background-color: green;
  color: #fff !important;
}



@media screen and (width: 360px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 360px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 384px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 384px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 412px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 412px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (max-width: 320px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 320px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 480px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:480px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width:411px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 411px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 375px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 375px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 414px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 414px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 567px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width:  567px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (width: 559px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 559px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 551px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 551px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 543px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 543px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

@media screen and (width: 400px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (width: 400px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}


@media screen and (max-width: 571px) {
  .btn-custom1 {
    width: 30%;
      

  }
}
@media screen and (max-width: 571px) {
  .btn-custom2 {
    width: 30%;
      margin-top: -11.5%;

  }
}

a .active{
     color:darkgreen !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
}


/*for videos show*/


.owner_video{
    text-decoration: none !important;
    color: #000;
    font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
}

.owner_video:hover{
    color: #000 !important;

}


.time_date{
     font-family: Segoe UI;
  font-size: 12px !important;
    
    
}

.open-modal{
    width: 200px;
    height: 100% !important;
    cursor: pointer;
}


.views{
     color: #000;
    font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
}


.panel-tabs {
    width: 100% !important;
}


.panel-tabs > li > a {
    margin-top: 4px;
    line-height: .85;
    color: #000;
    text-decoration: none;
}

.panel-tabs > li > a:hover {
    color: #000;
     text-decoration: none;
}




.panel{
    width: 123% !important;
}

.modal-footer{
    justify-content: start;
    width: 100% !important;
    height: 80%;
}


.tab1{
    width: 80%;
    justify-content: center;
    height: auto;
    
}
.tab-pane{
    width: 100% !important;
    justify-content: center;
    height: auto;
    
}
.mutual{
   
color:#000!important;
     text-decoration: none !important;
    font-size: 13px;
   
}
.mutual:hover{
     color:#000;
     text-decoration: none !important;
   
}


.views1{
     color: #000;
    font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
    text-decoration: none !important;

}
.views1:hover{
     color: green;
    text-decoration: none !important;

}

.title{
    color: #000;
    font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
}

.comment{
    width: 100%;
    border-radius: 40px;
    height:35px;
      outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    
}
.btn1{
   width: 27%;
    border-radius: 40px;
    height:30px;
    line-height: .8em;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.col-xl-6{
    max-width: 46%;
}

span .mutual{
   color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
}


button span {
    color: #000 !important;
     outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.fa-eye{
    font-size: 16px;
}

.icons{
    color: #000;
  background-color: inherit;
  outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
  border: none;
  cursor: pointer;
  font-size: 16px;
  
}

.icons:hover{
    color: green;
}

.icons2{
    color: #000;
  background-color: inherit;
  outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
  border: none;
  cursor: pointer;
  
}
.icons2:hover{
    color: green;
}





.icon-action{
    background-color: #000;
    width: 70%;
    height: 90%;
}


.comment-video{
    color: #000 !important;
    font-size: 13px;
    font-weight: bold;
}


/*for posts hidden*/

.post-time{
  font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.shared-a-post{
   font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #616770;
}

.post-owner{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;  
    color: #000;
}
.post-owner:hover{
    color: #000;
}

 .fa-globe-asia {
    color: #000;
     font-size: 14px;
}

.post{
    background-color: #fff;
    width: auto;
    height: auto;
 
}

.count-comment_like{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: justify;
  text-justify: inter-word;
    white-space: normal;

}
 .text{
     text-transform: capitalize;
}



.burger-menu {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1px;
    cursor: pointer;
  
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    width: 140px;
    z-index: 1;
    height: 120px;
        background-color: #fff;


}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-family: " Helvetica, Arial, sans-serif";
        background-color: #fff;


}


.dropdown-content a:hover {
  color: green;
    background-color: #fff;

}

.dropdown .dropdown-content.show {
        background-color: #fff;

    display: block;
}

.fa-pencil-alt{
    font-size: 15px;
}


.sec-div{
  background-color: #fff;
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.sec-div2{
  background-color: #fff;
  height: auto;
  width: 100%;

}

.sec-div3{
  background-color: #fff;
  height: auto;
  width: 100%;

}

a .footer{
  color: #657786;
    font-size: 13px;
}

a .footer:hover{
  text-decoration: underline;
}


.col-border{
  height: auto;
  width: .5px;
  border:  1px solid gray;
}

.Who_to_follow{
  color: green;
   font-size: 15px;
    font-weight: bold;
      font-family: "Segoe UI",Arial,sans-serif ;
}

.Scouteria-trends{
  color: green;
  font-size: 16px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif; 
}

.trends-img{
  width: 50px;
  height: 50px;
  border-radius: 40px;
  min-width: 50px;
     min-height:  50px;
      max-height:  50px; 
  align-self: center; 
}

.trends-name{
  color: green;
  font-size: 12px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif; 
} 

a .trends-name{
    text-align: center;

}
.trends-views{
  color: green;
  font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif; 
} 



.pen-edit{
   width: 5%;

}


.nav-counter {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: -0.13rem;
  left:.8rem;
  font-weight: bold;
  color: white;
  font-size: 0.85rem;
  text-align:left;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.nav-counter2 {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  font-weight: bold;
  top: -0.13rem;
  left:.8rem;
  color: white;
  font-size: 0.85rem;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}


.post-img{
  width: 50px;
  height: 50px;
  border-radius: 40px;
  min-width: 50px;
     min-height:  50px;
      max-height:  50px; 
  align-self: center; 
}

.view-all{
  color: gray;
   font-size: 13px;
    font-weight: bold;
      font-family: "Segoe UI",Arial,sans-serif ;
  margin-top: 2px;
}

.view-all:hover{
  color: dimgrey;
 
}

.Refresh{
  color: gray;
   font-size: 13px;
    font-weight: bold;
      font-family: "Segoe UI",Arial,sans-serif ;
  margin-top: 2px;
}

.Refresh:hover{
  color: dimgrey;
 
}


.border-div{
  height: 1px;
  border: 1px solid gray;
  width: 60%;
}

.ImgWhoFollow{
   width: 35px;
    height: 35px;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
  
}


label{
  width: 200px;
  height: 30px !important;
    background: green; 
    display: table;
    color: #fff;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
     font-size: 15px;
  font-weight: bold;
      font-family: "Segoe UI",Arial,sans-serif ;
  padding-top: 2px;


}


.ImgPost{
  width:400px !important;
  height: 250px !important;
  margin-bottom: 2px;
  
}


.style-ImgPost{
  width:100% !important;
  height: auto !important;
  border-bottom: 2px green solid;
   border-radius: 4px;
  display: block;
}



.style-VideoPost{
  width:100% !important;
  height: auto !important;
   border-radius: 4px;
  display: block;
}

.VideoPost{
  width:400px !important;
  height: 200% !important;
  
}


.post-img2{
  border-radius: 40px;
  min-width: 70px;
     min-height:  70px;
      max-height:  70px; 
  align-self: center; 
}
.vvv{
  background-color: #fff;
}

.sec{
  background-color: white;
  margin-left: 4%;
}

.post-uploadPhoto{
   background: #f9f9f9;
    border-radius: 18px;
    color: #4b4f56;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer !important;
  -moz-appearance:none;
    outline:none !important;
  border: none !important;
  width: auto;
}


.WriteNewPost{
    color: #4b4f56;
    font-weight: bold;
  font-size: 17px;
}


.WriteNewPost:hover{
    color: #4b4f56;
    font-weight: bold;
}

textarea {
  width: 400px;
  height: auto;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
    color: #1d2129;
  font-weight: 300;
   -moz-appearance:none;
    outline:0px none transparent;
  border: none;
}

.post-imgP2{
  border-radius: 40px;
  min-width:40px;
     min-height:40px;
      max-height:40px; 
  align-self: center; 
  margin-top: -100%;
}