/* CSS Document */

.br-40{
  border-radius:40px; 
  width:520px;
  height:80%;
  outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  
  } 


.mt{
  margin-top:1%;} 

  
.player-name {
  font-family: Segoe UI;
  font-size: 13px;
  font-weight: bold;
  color:#fff !impoprtant;
    text-decoration: none;
  
  } 
  
.player-name :hover{
  font-family: Segoe UI;
  font-size: 13px;
  font-weight: bold;
  color:#fff !impoprtant;
  
  } 

h6{
  margin-top:1%;
  }
  
  
h5{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight:bold;
  
}

.Hecham{
    font-family: Segoe UI;
    font-size:1.52em;
    font-weight:bold;
    color: #000;
    margin-top:10%;
  
}
main {
  
    width: 96%;
    background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
  /* ================ */
  /* === COMMENTS === */
  /* ================ */
.comments {
    padding-top: 10px;
  width:150%;


}

.comments-item {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e2e3;
}

.comment-avatar {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    border: 1px solid #ccc;

}

.comment-text {
  display: inline-block;
   width:100%;
    font-size: 16px;
    

}

.comment-username {
    color: #365899;
    font-weight: bold;
    margin-left:38px;
    cursor: pointer;
  margin-bottom:-30%;

}

.comment-username:hover {
    color:#063;
}

.comment-action {
    padding-left: 10px;
}

.like,
.reply,
.like-count {
    color: #365899;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.like:hover,
.reply:hover {
    text-decoration: underline;
}

.like:after,
.reply:after,
.like-count:after {
    content: " · ";
    position: absolute;
    font-weight: bold;
    right: -10px;
    top: 0;
    color: #90949c;
}

.like-count {
    padding-left: 18px;
    position: relative;
}

.like-count-change {
    -webkit-animation: change 0.4s;
    animation: change 0.4s;
}

@-webkit-keyframes change {
    0% {
        top: 0;
    }

    100% {
        top: -20px;
        opacity: 0;
    }
}

@keyframes change {
    0% {
        top: 0;
    }

    100% {
        top: -20px;
        opacity: 0;
    }
}

.like-count:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: -2px;

}

.comment-date {
    font-size: 13px;
    color: #90949c;
}





/*RESPONSIVE*/
@media all and (max-width: 930px) {
    main {
        margin-left: 0;
        width: 67%;
    }
}

@media all and (max-width: 710px) {
    header, .sidebar {
        display: none;
    }

    main {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
    }

    .header-mini {
        display: block;
    }
}

/* css of cpmments of post on the right side */

input[type="file"] {
  display: none;
}
ul {
  list-style-type: none;
}

.btn {
  padding: .5em 1em;

  
  color:#13782c;

  border: none;
  cursor: pointer;
}

.widget-post {
  width: 500px;
  height: auto;

  border: 1px solid #eaeaea;
  border-radius: 40px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: #fff;

  margin: auto;
  overflow: hidden;
}

.widget-post__header {
  padding: .2em .5em;
    text-align: center;

  background-color: #eaeaea;
  color: #3f5563;
}
.widget-post__title {
  font-size: 18px;
}

.widget-post__content {
  width: 100%;
  height: 50%;
    
}
.widget-post__textarea {
  width: 100%;
  height: 100%;
  padding: .5em;
 overflow-y: scroll; 
 resize: none;
  border: none;
}
.widget-post__textarea:focus {
  outline: none;
}


}

.post-actions__label {
  cursor: pointer;
}

.widget-post__actions {
  width: 100%;
  padding: .5em;
}
.post--actions {
  position: relative;
  padding: .5em;
  background-color: #f5f5f5;
  color: #a2a6a7;
    
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
      height: 60%;

    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;

}
.attachments--btn {
background-color: #eaeaea;
outline:none !important;
          height: 60%;

 -webkit-appearance:none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
border-radius: 1.5em;
}

.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
border-color:  #eaeaea !important;

}
.post-actions__post {
  width: 70px;
  background-color: #13782c;
  color: #fff;
  border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}


/* * SR * */
.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;

}


/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}




@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
 

.Write-comment{
    width: 100%;
    border-radius: 40px;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color:#CCC;
    color: black;
}
.form-control{
  
  border:1px solid #060;
    width:420px;
    height: 30px;
   
    color: black;
  
}
.form-control:focus{
  
  border:1px solid #060;
   
  
}


#table-div{
   background-color:#f9f9f9;
   overflow-y:scroll;
   height: 310px;
    
}

.nav-color{
  /*background-image:url(../images/path_38.png);
   background-position: center center;
  background-repeat:repeat !important;
  background-size: cover;
    z-index: -1;
    top: 0 px;
    bottom: 0 px; 
    max-width: 100%;*/
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
    height: auto;
}

.open{
    background-image:url(../images/Capture.PNG);
    background-repeat:no-repeat;
  background-size:cover;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 40px;
}

.logo{
    color: #fff !important;
    font-family: Segoe UI;
  font-size: 25px;
  font-weight: bold;
  
}

.logo:hover{
    color: #fff !important;
   
}

.name{
    color: #fff !important;
    font-family: Segoe UI;
  font-size: 11px;
  font-weight: bold;
  
}


.name:hover{
    color: #fff !important;
   
}

.img-profile{
    height: 80%;
    width: 100%;
    margin-bottom: 15px;
}


.btn-custom {
  border: 2px solid green;
  background-color: rgba(255,255,255,.7);
  height:34px;
  color: green;
    width: 100%;
    line-height: 34px;
    margin-top:4%;
    
}

.btn-custom:hover {
  background-color: green;
  color: #fff;
}

.br-40 {
  border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green ;
  height:34px;
    line-height:1em;

}




.Videos{
 background-image: linear-gradient(to left, rgb(22,123,25), rgba(22,123,25) ,rgba(17,86,33));
    height:27px;
  color: white;
    width:17%;
    line-height: 2px;
    margin-top:2%;
    font-size: 17px;
    font-family: Helvetica, Sans-Serif !important;
    text-align: center;
    border-radius: 40px;

}

.Videos:hover {
  color:green;
     background-image: linear-gradient(to left, rgb(255,255,255), rgba(255,255,255) ,rgba(255,255,255));


}




@media screen and (width:536px) {
  .Videos {
  width:20%;
  }
}

@media screen and (width: 566px) {
  .Videos {
  width:20%;
  }
}
@media screen and (width: 626px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 610px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 622px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 592px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 602px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 616px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 600px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 582px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 572px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 556px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 532px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 534px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 502px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 360px) {
  .Videos {
  width:31% !important;
  }
}
@media screen and (width: 384px) {
  .Videos {
  width:27%;
  }
}
@media screen and (width: 640px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 320px) {
  .Videos {
  width:36%;
  }
}
@media screen and (width: 480px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width:412px) {
  .Videos {
  width:31%;
  }
}

@media screen and (width:411px) {
  .Videos {
  width:31%;
  }
}

@media screen and (width: 375px) {
  .Videos {
  width:30%;
  }
}
@media screen and (width: 414px) {
  .Videos {
  width:32%;
  }
}

@media screen and (width: 360px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 564px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 628px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 588px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 580px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width:584px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 576px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 528px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width:560px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 496px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 404px) {
  .Videos {
  width:23%;
  }
}

@media screen and (width: 472px) {
  .Videos {
  width:23%;
  }
}
@media screen and (width: 392px) {
  .Videos {
  width:23%;
  }
}





.player-img{
    width:35px;
    height:35px;
   margin-top:25%;

}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 17px !important;
    margin-top: 60%;
     color: #fff;  

  
}
.fa:hover {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px !important;
   color: #fff;  
}


.neckname{
    margin-top: 1.5%;
}




.search-icon {
  position: absolute;
  font-size: 18px;
  color:green;
  margin-top: 1%;
}


.search-icon:hover {
  color:green;
}

.num-count2{
     position: absolute;
    cursor: pointer;
    font-size: 1rem;
    background-color:#fff;
   width: 1.4rem;
    color: red;
    display: inline;
    border-radius: 50%;
    top: .3rem;
    right:21rem;
}

.num-count {
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    background-color:#fff;
   width: 1.4rem;
    color: red;
    display: inline;
    border-radius: 50%;
    top: 0.3rem;
    right: 18.8rem;
}

a:hover{
        color:darkgreen !important;

}
 .request{
    text-decoration: none !important;
    color: #000;
    font-size: 10px;
}

.request :hover{
    text-decoration: none !important;
    color:darkgreen !important;
    font-size: 10px;
}


.alert_list{
    font-size: 11px;
    color:grey;
}
li.alert_li {
  font-size: 11px; 
  color:grey;
  border-bottom: thin solid #c0c0c0;
}
li.alert_li:hover{
    background-color:#eee
}
.time_alert{
    float:right;
    margin-bottom :1px;
    color: black;
}

.time_alert : hover {
    color: black;
}
a.alert_message{
    color : grey;
}
a.alert_message:hover{
    color : grey;
}

.popover{
    position: absolute;
    top: 39px;
    left: 97px;
    transform: translate3d(870px, 5px, 0px);
}

.arrow{
    left: 25px;
    top:0%;
}

.notification{
    text-align: left;
    margin-top:3%;
    
}

.unstyled{
    float: right;
    margin-top:-1%;

}

.notification-img {
    width: 13%;
    height: 13%;
}

.fa-check-circle {
    font-size: 17px;
    color: darkgreen;
}

.fa-times-circle{
        font-size: 17px;
    color: darkgreen;


}

.edit-icon{
    width: 26px;
    height: 25px;
    opacity: .7;
  
}

.pen-icon{
        background-color: #f9f9f9;

}
