/* CSS Document */


.l{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
    height: 65px;
    max-width: 100%;
  
}


.logo{
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:23px;
}

.logo:hover{
    color:#FFF;
    }

body{
background-image: url(../images/hyde-park-flats.jpg) !important;
 background-position: center center;
  background-repeat:no-repeat !important;
  background-size:cover;
    z-index: -100;
    max-width: 100%;
    }

h1{
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:4.5em;
    text-align: center;
}

html, body {
  height: 100%;
}

h2{
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:3.5em;
    text-align: center;
}