/* CSS Document */

/*
screens: {
  'tablet': '576px',
  @media (min-width: 576px) { 
      background-image: url(../images/hyde-park-flats.jpg) ;
 background-position: center center;
  background-repeat: repeat;
  background-size: cover;
   position: absolute;
    z-index: -1;
    height: auto;
    top: 0 px;
    bottom: 0 px; 
    width: 100%;
      
    }

  'laptop': '992px',
 @media (min-width: 992px) { 
     background-image: url(../images/hyde-park-flats.jpg) ;
 background-position: center center;
  background-repeat: repeat;
  background-size: cover;
   position: absolute;
    z-index: -1;
    height: auto;
    top: 0 px;
    bottom: 0 px; 
    width: 100%;
    }

  'desktop': '1200px',
  @media (min-width: 1200px) { 
    background-image: url(../images/hyde-park-flats.jpg) ;
 background-position: center center;
  background-repeat: repeat;
  background-size: cover;
   position: absolute;
    z-index: -1;
    height: auto;
    top: 0 px;
    bottom: 0 px; 
    width: 100%;
    }
    
}

*/
 


.second{
 background-image: url(../images/hyde-park-flats.jpg) ;
 background-position: center center;
  background-repeat:repeat !important;
  background-size: cover;
    z-index: -1;
    top: 0 px;
    bottom: 0 px; 
    max-width: 100%;
}


.fix{
    margin-bottom:17%;
}
.l{
   background-image: linear-gradient(to left, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100));
    height: 65px;
    max-width: 100%;
  
}



.logo{
  color:#FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:23px;
}

.logo:hover{
  color:#FFF;
  }

.search{
  height:29px;
  text-align:center;
     margin-top: -1%;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green ;
     border:none !important; 
    box-shadow: none !important;

  }
.user{
  width:70%;
  height:50%;
  margin-bottom:-20%;
  } 
/*
.user-image{
  width:40px;
  height:40px;
  background-color:#FFF;
  border-radius:40px;
  text-align:center;
  margin-right:1%;
     margin-top: -1%;
  }
*/
.br-40 {
  border-radius: 40px !important;
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green ;
  height:34px;
    line-height:1.4em;

}


/*.open-menu{
    width: 4%;
  border-width: 4px;
  border-style:solid;
  border-color: gray;
  background-color: transparent;
  color: green;
  }
*/

  .log-in {
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight:bold;
    background:none!important;
    border:none !important; 
    box-shadow: none !important;
       

}

.log-in:hover{
  color:#fff;
  font-weight:bold;

}

.forget {
    background:none!important;
    border:none !important; 
    margin-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff  !important;
  font-weight:bold;
    box-shadow: none !important;
}

.select_join {
  overflow: hidden;
  border: #FEFEFE 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 40px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
  box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.select_join select {
  background: transparent;
  font-size:7pt;
  color:grey;
  border: 0;
  border-radius: 0;
  
  -webkit-appearance: none;
    height: 44px;

}
.select_join select:focus {
  outline: none;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  border-radius:40px;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 60px;
  padding: 5px;
  border-radius:40px;
  width: 268px;
}


.btn-custom {
  border-width: 2px;
  border-style: line;
  border-color: green;
  background-color: rgba(255,255,255,.7);
  height:36px;
  color: green;
    width: 100%;
    line-height: 1.03em;
    margin-top: -5%;
    
}

.btn-custom:hover {
  background-color: green;
  color: #fff;
}

.create{
  color:#FFF;
  font-family: Arial;
  font-size:25px;
    margin-top: -5%;
    font-weight: bold;
    
   
  }   
  
.free{
  color:#FFF;
  font-family: Arial;
  font-size:19px;
    
  } 
.color-div{
    width: 300px;
    height: auto;
    border-radius: 20px;
  background-image: linear-gradient(to bottom, rgba(22,123,25,100), rgba(22,123,25,100) ,rgba(17,86,33,100)
);
    margin-top: 5%;
  position: relative;
}


.male{
    color:#FFF !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight:bold !important;
  font-size:15px;
    
}

/* Social Icons */
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
   
}
.social a:hover {
  background: #65c2ed;
}
.social a.linkedin {
  padding: 4px;
}
.social a svg .face, .social a svg .twit, .social a svg .link {
  fill: #000;
}



select{
    height:44px;
    line-height: 1.03em; 
    outline:0px !important;
    -webkit-appearance:none !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
  border-color:green;
}



.connecting{
     font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:4.5em;
    color: #fff;
    margin-top:5%;
}

@media screen and (width: 320px) {
  .connecting {
  font-size:3em;
  }
}

@media screen and (width: 384px) {
  .connecting {
  font-size:3em;
  }
}

@media screen and (width: 411px) {
  .connecting {
  font-size:3em;
  }
}


@media screen and (width: 412px) {
  .connecting {
  font-size:3em;
    
  }
}

@media screen and (width: 273px) {
  .connecting {
  font-size:1.5em;
    
  }
}

@media screen and (width:375px) {
  .connecting {
  font-size:3em;
  }
}

@media screen and (width: 414px) {
  .connecting {
  font-size:3em;
  }
}

@media screen and (width:360px) {
  .connecting {
  font-size:3em;
  }
}

@media screen and (width: 320px) {
  .connecting {
  font-size:3em;
  }
}

  @media (min-height: 1024px) {
  .connecting {
  margin-top:-4%;
    }
}

@media (min-height: 1280px) {
  .connecting {
  margin-top:-4%;
    }
}
.the-world{
   font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:2em;
    color: #fff;
}






.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #fff;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #fff;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #fff;
}


.Error{
    width:80%; 
    height:10%; 
    color:red; 
    font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:15px;

}

